@model WEBGIS.Models.SiteCreateDto

@section Scripts {
<link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.26/"></script>
<script>
require([
    "esri/Map",
    "esri/views/MapView",
    "esri/layers/GeoJSONLayer",
    "esri/widgets/Sketch",
    "esri/layers/GraphicsLayer",
    "esri/geometry/geometryEngine",
    "esri/geometry/SpatialReference",
    "esri/geometry/support/webMercatorUtils"
], function(Map, MapView, GeoJSONLayer, Sketch, GraphicsLayer, geometryEngine, SpatialReference, webMercatorUtils) {

    const geojsonLayer = new GeoJSONLayer({
        url: "http://127.0.0.1/qgisserver/cgi_bin/qgis_mapserv.fcgi?MAP=/home/yassine/Desktop/casa.qgs&SERVICE=WFS&VERSION=2.0.0&REQUEST=GetFeature&TYPENAME=Site&outputFormat=application/json"
    });

    const map = new Map({
        basemap: "streets-navigation-vector",
        layers: [geojsonLayer]
    });

    const drawLayer = new GraphicsLayer();
    map.add(drawLayer);

    const view = new MapView({
        container: "mapDiv",
        map: map,
        center: [-7.62, 33.59],
        zoom: 10
    });

    // Ajoute l’outil Sketch (dessin de polygones)
    const sketch = new Sketch({
        layer: drawLayer,
        view: view,
        creationMode: "single",
        availableCreateTools: ["polygon"],
        defaultUpdateOptions: {
            tool: "reshape",
            enableRotation: false,
            enableScaling: true
        }
    });

    view.ui.add(sketch, "top-right");

    // Quand le dessin est terminé
    sketch.on("create", function(event) {
        if (event.state === "complete") {
            const geom = event.graphic.geometry;

            if (geom.type !== "polygon") {
                alert("Veuillez dessiner un polygone.");
                return;
            }

            const rings = geom.rings[0].map(coord => {
                const latlon = webMercatorUtils.xyToLngLat(coord[0], coord[1]);
                return [latlon[0], latlon[1]];
            });

            if (!rings[0].every(v => typeof v === 'number')) {
                alert("Coordonnées invalides.");
                return;
            }

            if (JSON.stringify(rings[0]) !== JSON.stringify(rings[rings.length - 1])) {
                rings.push(rings[0]);
            }

            const geojson = {
                type: "Polygon",
                coordinates: [rings]
            };

            document.getElementById("GeometrieGeoJson").value = JSON.stringify(geojson);
            console.log("GeoJSON envoyé :", geojson);
        }
    });

}); // ← ← ← FERMETURE MANQUANTE
</script>
}


<h2>Ajouter un nouveau site</h2>
<div id="mapDiv" style="height: 500px; width: 100%;"></div>
<form method="post">
<div class="mb-3 row">
<label asp-for="site" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="site" class="form-control" />
<span asp-validation-for="site" class="text-danger"></span>
</div>
</div>
<div class="mb-3 row">
<label asp-for="reference" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="reference" class="form-control" />
<span asp-validation-for="reference" class="text-danger"></span>
</div>
</div>
<div class="mb-3 row">
<label asp-for="etat" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="etat" class="form-control" />
<span asp-validation-for="etat" class="text-danger"></span>
</div>
</div>
<div class="mb-3 row">
<label asp-for="avancement" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="avancement" class="form-control" />
<span asp-validation-for="avancement" class="text-danger"></span>
</div>
</div>
<div class="mb-3 row">
<label asp-for="prefecture" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="prefecture" class="form-control" disbled />
<span asp-validation-for="prefecture" class="text-danger"></span>
</div>
</div>
<div class="mb-3 row">
<label asp-for="commune_ce" class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
<input asp-for="commune_ce" class="form-control" />
<span asp-validation-for="commune_ce" class="text-danger"></span>
</div>
</div>
<!--Ajoute un champ hidden pour label geometrie-->
<input type="hidden" id="GeometrieGeoJson" name="GeometrieGeoJson" />
<span asp-validation-for="GeometrieGeoJson" class="text-danger"></span>
<button type="submit" class="btn btn-primary">Ajouter site</button>
<a asp-controller="Site" asp-action="Index" class="btn btn-secondary">Retour</a>
</form>